:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
    --primary-bg-color-filter: #f5f4fa;
    --prinary-font-family: "Roboto", sant-serif;
    --secondary-font-family:"Raleway", sant-serif;
  }
  
  body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--prinary-font-family);
    letter-spacing: 0.03em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
    margin-top: 0;
    margin-bottom: 0;
  }

  ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  img {
  display: block;
  }

  .list{
    list-style: none;
   }
 
   .link{
     text-decoration: none;
   }

/* Шапка проекта Webstudio*/
.logo{ 
margin-right:93px ;
font-family: var(--secondary-font-family);
font-weight:700;
font-size: 26px;
line-height: 1.19;
color:var(--secondary-text-color);
}

.logo-color{
  color: var(--accent-color);
}


.site-list{
display: flex;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.nav-item:not(:last-child){
  margin-right: 50px;
}



.site-link:hover,
.site-link:focus{
  color: var(--accent-color);
}

.site-link.current{
  color:var(--accent-color) ;
}

.site-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color:var(--secondary-text-color );

}


.contact-link{
display: inline-flex;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var( --primary-text-color );
}

.contact-item:not(:last-child){
margin-right: 50px;
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
  
}


.contact-link:hover,
.contact-link:focus{
color: var(--accent-color);
}


 .contact-link:hover .svg-mail{
fill: var(--accent-color);
} 

.contact-link:focus .svg-mail{
fill: var(--accent-color);
  } 

.site-nav{
  display: flex;
  align-items: center;

}

 .contact-list{
  display: flex;
  align-items: center;
  margin-left: auto;
 }

.header-container{
  display: flex;
  align-items: center;
  
}

.header{
  border-bottom: 1px solid #ECECEC ;
  padding-top: 24px;
  padding-bottom:25px;
}

.svg-mail{
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}


/* сукция героик */
.hero{
padding-top:200px ;
padding-bottom: 200px;
height: 600px;
max-width: 1600;
background-image:linear-gradient(to right ,
 rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)),
url(../images/hero/hero.jpg);
background-size:cover ;
background-repeat:no-repeat ;
background-color: #2F303A;
text-align: center;
}

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-bg-color);
}

.button{
padding-left:32px ;
padding-right:32px ;
padding-top:10px ;
padding-bottom:10px ;
margin-top: 30px;
border-radius: 4px;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--accent-color);

}


.button:hover,
.button:hover{
background-color:#188CE8; 
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 0.5)
  opacity: 1;
  visibility: visible;
 
}

.backdrop.is-hidden{
visibility: hidden;
opacity: 0;
pointer-events: none;
}

  .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  min-width: 400px;
  padding: 15px;
  background-color: #fff;
}


/* секция будушего */
.title-features{
margin-bottom: 10px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color:var(--secondary-text-color);
}

.features-list{
  display: flex;
  justify-content: space-between;
  
}


.features-item:not(:last-child){
  margin-right: 30px;
}

.section-features{
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-paragraph{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}


.svg-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width:270px ;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}



/* Робочая секция */
.section-title {
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-text-color);
}

.work-list{
  display: flex;
  align-items: center;

}

.work-section{
 padding-top:47px;
 padding-bottom: 94px;
}

.work-div{
  position: relative;

}

.work-div:not(:last-child){
  margin-right: 30px;
}

.work-information{
position: absolute;
padding:27px  ;
top: 225px;
width:370px ;
height:70px ;  
font-weight:700  ;
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
color: var(--primary-bg-color);
background-image:linear-gradient(to right ,
 rgba(47, 48, 58, 0.8),
 rgba(47, 48, 58, 0.8));

}

/* Наша команда */

.team-section{
padding-top: 94px;
padding-bottom: 94px;
background-color:  var(--primary-bg-color-filter);
}

.title {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
color: var(--secondary-text-color);
}

.profession{
margin-top: 10px;
font-size: 16px;
line-height: 1.18;
text-align: center;
color:var(--primary-text-color);

}  

.section-team-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-text-color);
}


.team-list{
  display: flex;
  align-items: center;
}


.team-title{
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-right:30px ;
  margin-top: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.name-profession{
 margin:30px ;
}

.link-icon-inst {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #AFB1B8;;
  
}

.link-icon-inst:hover,
.link-icon-inst:focus{
  background-color: var(--accent-color);
  fill: #ffffff;
}


.icon-div{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  
}


/* Постоянные клиенты */

.regular-section{
  padding-top:94px ;
  padding-bottom:94px ;
}

.regular-title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color:var(--secondary-text-color);
margin-bottom: 50px;

}

.regular-li{
width: 170px;
height: 92px;

}


.regular-li:not(:last-child){
  margin-right: 30px;
}


.regular-ul{
  display: flex;

}

.regular-link{
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  display: flex; 
  justify-content: center;
  align-items: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.regular-link:hover,
.regular-link:focus{
      fill:var(--accent-color);
      border: 1px solid var(--accent-color); 
}




/* Футер */
.footer{
 padding-top: 60px;
 padding-bottom:60px ;
 background-color:  #2F303A;
}

.footer-logo{
font-family: var(--secondary-font-family);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color:var(--primary-bg-color);
}

.footer-link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus{
  color: var(--primary-bg-color);
}

.address-link{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
color: var(--primary-bg-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}


.container-footer{
  display: flex;
  justify-content: baseline;
}
.footer-set{
  margin-left: 70px;
}

.footer-ul {
  width: 204px;
  display: flex;
  justify-content: space-between;
 

}
.title-footer{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer-icon-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);;
  fill: #ffffff;
}

.footer-icon-link:hover,
.footer-icon-link:focus{
background-color: var(--accent-color);
fill:#ffffff;
}



/* Портфолио */
.filter-btn.current {
background-color:var(--accent-color) ;
color: var(--primary-bg-color);
}

.filter-btn {
padding:6px 20px ;
border-radius: 4px ;
border: none;  
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
background:var(--primary-bg-color-filter);
color: var(--secondary-text-color);
}

.filter-btn:hover,
.filter-btn:focus{
  background-color: var(--accent-color);
  color: #ffffff;
}

.work-title{
font-style: normal;
font-weight:700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--secondary-text-color);
}

.work-profession{
margin-top: 4px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
color: var(--primary-text-color);
}


.container{
 width: 1200px;
 margin-left:auto ;
 margin-right: auto;
 padding-left: 15px;
 padding-right: 15px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) 
{
  margin-right: 8px;
}
  
.works-list{
  display: flex;
  flex-wrap: wrap;
}

.works-title{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
border: 1px solid #EEEEEE;

}

.works-title:nth-child(3n){
  margin-right: 0px;
}

.works-title:nth-last-child(-n + 3){
  margin-bottom: 0px;
}


.our-work {
  padding-top: 94px;
  padding-bottom: 94px ;
}

.text-position{
  padding: 20px 24px;
  

}

.address {
  margin-top: 20px;
  
}

.address-link{
  margin-bottom: 9px;
  display: block;
}


.footer-list .footer-item:not(:last-child){
  margin-bottom: 9px;
}

.work-a{
  text-decoration: none;
  color: var(--primary-text-color);
   width: 100%;
  height: 100%;
 
}

.works-title:hover,
.works-title:focus{
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}